body {
    background: rgb(229, 229, 229);
}

.block {
    position: relative;
    margin: 15px auto 15px auto;
    padding: 5px;
    width: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    background: rgba(210, 210, 210, 0.3);
    box-shadow: 0 0 10px 0;
    font-family: "Century Gothic", serif;
}

.head {
    position: relative;
    font-size: 22px;
    text-align: center;
    color: #000000;
    font-weight: bold;
}

.text {
    position: relative;
    width: 100%;
    margin: 16px 0 16px 0;
    color: #000000;
}

.result {
    position: relative;
    width: 98%;
    background: #cacaca;
    color: #000000;
    font-weight: 600;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 5px;
}